{% extends 'generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
    <div class="row">
        <div class="col col-md-6">
            {# AWS Subnet Details Panel #}
            <div class="card">
                <div class="card-header">
                    <strong>AWS Subnet Details</strong>
                </div>
                <table class="table table-hover attr-table">
                    <tr>
                        <td>Name</td>
                        <td>{{ object.name|placeholder }}</td>
                    </tr>
                    <tr>
                        <td>Subnet ID</td>
                        <td>{{ object.subnet_id }}</td>
                    </tr>
                    <tr>
                        <td>AWS VPC</td>
                        <td>
                            {% if object.aws_vpc %}
                                <a href="{% url 'plugins:netbox_aws_resources_plugin:awsvpc' pk=object.aws_vpc.pk %}">{{ object.aws_vpc }}</a>
                                {% if object.aws_vpc.aws_account %}
                                    (Account: <a href="{% url 'plugins:netbox_aws_resources_plugin:awsaccount' pk=object.aws_vpc.aws_account.pk %}">{{ object.aws_vpc.aws_account }}</a>)
                                {% endif %}
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>CIDR (Prefix)</td>
                        <td>
                            {% if object.cidr_block %}
                                <a href="{% url 'ipam:prefix' pk=object.cidr_block.pk %}">{{ object.cidr_block }}</a>
                            {% else %}
                                {{ ''|placeholder }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Availability Zone</td>
                        <td>{{ object.get_availability_zone_display }}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{ object.get_state_display }}</td>
                    </tr>
                    <tr>
                        <td>Map Public IP on Launch</td>
                        <td>{{ object.map_public_ip_on_launch|yesno }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col col-md-6">
            {# IP Addresses in Subnet Panel #}
            <div class="card">
                <div class="card-header">
                    <strong>IP Addresses in Subnet</strong>
                </div>
                {% if ip_addresses_table %}
                    {% include 'inc/table.html' with table=ip_addresses_table %} 
                {% else %}
                    <div class="card-body text-muted">
                        No IP Addresses found in this subnet or permission denied.
                    </div>
                {% endif %}
                <div class="card-footer noprint">
                    {% if perms.ipam.add_ipaddress and object.cidr_block %}
                        <a href="{% url 'ipam:ipaddress_add' %}?prefix={{ object.cidr_block.pk }}&vrf={{ object.cidr_block.vrf.pk|default:'' }}" class="btn btn-xs btn-success">
                            <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add IP Address
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# No full-width bottom row for now, can be added later if needed #}
{% endblock %}
